<div class="banner" ng-controller="ProdCtrl">
  <div class="banner-content container-fluid">
    <h3 class="banner-heading">Products</h3>
    <div class="banner-text" >
      <p>
      A lot of thinking goes into understanding the needs of a common man. This enables us in providing qualified products at affordable rates. Our product portfolio focuses mainly on Critical Care and in the years to come, we are going to expand our range to areas like cardiology, neurology and many more.
    </p>
    </div>
  </div>
</div>
  <div class="container-fluid">
    <div class="prodpage-content" ng-controller="ProdCtrl">
    <div class="row">
      <div class="col-md-3">
        <h2 class="page-part-title heading-stripe">Products</h2>
      </div>
      <div class="col-md-9" style="margin-top:1.6667%;">
        <div class="container" style="max-width:100%;">
          <div class="row" style="font-family:'Roboto Condensed',sans-serif;">
            <div class="col-md-6">
              <h4>Search by brand name</h4>
              <form name="frm1" novalidate>
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search here.." ng-model="f_name" name="f_name"/>
                  <span class="input-group-btn" id="basic-btn1">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
              </div>
            </form>
            </div>
            <div class="col-md-6">
              <h4>Search by active ingredient </h4>
              <form name="frm2">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search here.." ng-model="f_active" name="f_active"/>
                  <span class="input-group-btn" id="basic-btn1">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
              </div>
            </div>
            </form>
          </div>
          <div class="row" style="padding:2%;margin-top:1%;">
            <table class="table table-hover" style="font-family: 'Source Sans Pro',sans-serif;">
              <thead class="thead-inverse" style="background-color:#004a82;color:white;font-family: 'Roboto Condensed',sans-serif;">
                <tr>
                <th>#</th>
                <th>Brand Name</th>
                <th>Form</th>
                <th>Active Ingredient(s)</th>
                <th>Pack Detail</th>
                </tr>
              </thead>
              <tbody>
              <tr ng-repeat="brand in products | filter:f_name | filter:f_active | limitTo:limit">
                <th scope="row">{{brand.sno}}</th>
                <td style="font-weight:bold;">{{brand.name | uppercase }}</td>
                <td>{{brand.form}}</td>
                <td>{{brand.active_ingredient}}</td>
                <td>{{brand.packof}}</td>
              </tr>
              <tr>
                <td colspan="5">
                  <button class="btn btn-primary mainbtn" ng-click="loadMore()" ng-hide="limit>=20 || f_name!=NULL || f_active!=NULL || (limit>=20  && (frm1.f_name.$dirty || frm2.f_active.$dirty))" ng-show="limit==10 && ((f_name=='' || f_active=='') && frm1.f_name.$dirty || frm2.f_active.$dirty)">View More </button>
                  <button class="btn btn-primary morelessbtn" ng-click="loadMore()" ng-hide="limit == 10 || f_name!=NULL || f_active!=NULL || limit==40 || (limit>=20 && (f_name!=NULL || f_active!=NULL))" style="float:left;" ng-show="(limit>= 20 && limit<=30) || ((limit>=20 && limit<=30)&& (f_name==NULL || f_active==NULL))">View More</button>
                  <button class="btn btn-primary morelessbtn" ng-click="loadLess()" ng-hide="limit == 10 || f_name!=NULL || f_active!=NULL || (limit>=20 && (f_name!=NULL || f_active!=NULL))" style="float:right;" ng-show="limit>=20 || (limit>=20 && (f_name==NULL || f_active==NULL))" ng-class="{fullSize : limit>30}">View Less</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
