*{
    margin:0px;
    padding:0px;
}
body{
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*background: url("cc-solnheader3.png");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;*/
}

/* Navbar Menu*/
.menulist{
    position:relative;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding-right: 20px;
    color: white;

}
.menulist li a{
    color:white;
}
.menulist li a:hover, .menulist li a:focus{
    font-size: 15px;
    background-color:transparent !important;
}

.search{

}

/* Website Logo*/
.navbar-logo {
    padding: 20px;
}
.navbar-logo>img{
    height: 150px;
    margin-top: -30px;
    padding: 30px 30px 30px 60px;
    width: auto;
}

 /* Shrinking Navbar*/
nav.shrink{
    background-color: rgba(0,0,0,0.5);
    height: 70px;
    padding-top: 0px;
}
/* Shrinks down the logo in the navbar*/
nav.shrink .navbar-logo{
    height: 50px;
    margin-top: 10px;
    padding: 10px;
    width: auto;
}

nav.shrink .navbar-logo img{
position:relative;
    height:120px;
    width:auto;
    margin-top: -50px;
    margin-top: -50px;
}

/* Shrinks down right aligned links in the navigation bar*/
nav.shrink li a{
    color: white;
    font-size:15px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 20px;
}

nav.shrink .menulist>li>a:hover, nav.shrink .menulist>li>a:focus{
    background-color: transparent !important;
    font-size:16px;
}

/* Banner*/
.banner{
    padding:0px;
    width:100%;
    height:700px;
    background-image: url("../site_images/banner.jpg");
    background-size:cover;
}
/*carousel*/
.carousel{
    position:relative;
    height:600px;
}
.carousel-inner .item img{
    width:100%;
    object-fit: contain;
    overflow:hidden;
}
footer{
    position: relative;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: auto;
    width:100%;
    bottom: 0;
    background-color: #292C2F;
}
.footnav {
        bottom: 0px !important;
}
.footnav h3{
    margin-left: 40px;
}
.footnav ul{
    text-align: left;
}
.footnav ul li{
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 6px;
}
.footnav h3 {
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}
.footnav ul li a{
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #dce1e2;
}
.social{
    text-align: center;
    clear: both;
    float: none;
}
.social h3{

    font-size: 22px;
    margin-bottom: inherit;
    text-align: center;
    font-weight: bold;
    color: white;
}
.soclogo span{
    margin-top: 10px;
    margin-bottom: inherit;
    color: #ffffff;
    font-size : 25px;
    height: 40px;
    width: 40px;
    padding-left: 0px;

}
.emadd{
    text-align: center;
    margin: 20px auto;
    clear: both;
    float: none;
}
.emadd{
    text-align: left;
}
.emadd label{
    margin-left: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.emadd input{
    margin-left: 30px;
    margin-top: 25px;
    line-height: 1.5;
    font-size: 25px;
    padding: 5px 10px;
    color: #fff;
    width: 90%;
    font-weight: normal;
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    background-color:#292C2F;
}
.copyright{
    position: absolute;

    width: 100%;
    text-align:center;
    color:white;
    bottom: 0;

}
.copyright h4{
    font-family:Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight:normal;
}
.footer-address{
    float:right;
    color: white;
    font-family:Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight:normal;
}



